Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Performed simple arithmetic expression to mutiply then add integers.

Some of the popular languages that Data Scientists use are = [Python, R, SQL]

Some of the commonly used libraries used by Data Scientists include:=[Pandas, Numpy, Matplotlib]

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Author

Ewaen Osa